.navbar {
    height: 60px;
    background-color: #2d6a4f;
    border-bottom: 5px solid #52b788;
    color: azure;
}

$navbar-item-color: #f1f1f1;

.navbar .navbar-brand .navbar-item h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: larger;
    margin-top: 2px;
    color: azure;
}

.navbar .navbar-menu .navbar-item {
    color: azure;
    background-color: #2d6a4f;;
}

.navbar .navbar-menu .navbar-link {
    color: azure;
}

.navbar .navbar-end .navbar-item {
    color: white;
}

.navbar .navbar-end .navbar-item .control {
    color: white;
}